---
openapi: 3.0.0
info:
  title: Sample API
  description: Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/)
    or HTML.
  version: 0.1.9
servers:
  - url: http://smartlectures.ru/api/v1
    description: Main server
paths:
  /notes/overview:
    post:
      summary: получение заметок для отображения структуры
      description: Получение информации о заметка для отображения превью
      responses:
        '200':
          description: При успешном выполнении запроса возвращается список заметок
            для превью
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesOverview'
  /notes/{noteId}:
    get:
      parameters:
        - in: path
          name: noteId
          schema:
            type: integer
          required: true
          description: Числовой идентификатор заметки
      summary: Получение заметки по ID
      description: Получение заметки.
      responses:
        '200':
          description: При успешном запросе возвращается объект заметки с запрошенным
            идентификатором
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '404':
          description: Ответ при запросе заметки с несуществующим ID
    post:
      parameters:
        - in: path
          name: noteId
          schema:
            type: integer
          required: true
          description: Числовой идентификатор заметки
      summary: Обновление заметки по ID
      description: Обновление заметки.
      responses:
        '204':
          description: При успешном запросе возвращается объект заметки с запрошенным
            идентификатором
    delete:
      parameters:
        - in: path
          name: noteId
          schema:
            type: integer
          required: true
          description: Числовой идентификатор заметки
      summary: Удаление заметки по ID
      description: Удаление заметки.
      responses:
        '204':
          description: Ответ при успешном удалении заметки
  /dirs/overview:
    get:
      summary: Получение структры папок пользователя
      description: Получение структры папок пользователя для отображения структуры
        файлов/папок
      responses:
        '200':
          description: Ответ при успешном выполнении запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dir'
components:
  schemas:
    Dir:
      type: array
      items:
        type: object
        properties:
          dirId:
            type: number
            format: int32
            description: Числовой идентификатор папки
            example: 1337
            x-isnullable: flase
          name:
            type: string
            description: Название папки
            example: TestName
            x-isnullable: false
          children:
            type: array
            items:
              $ref: '#/components/schemas/Dir'
      example:
        - dirId: 10
          name: dir1
          children:
    Note:
      type: object
      properties:
        noteId:
          type: number
          format: int32
          description: ID заметки
          example: 1337
          x-isnullable: flase
        name:
          type: string
          description: |
            Заголовок заметки
          example: Test header
        body:
          type: string
          description: |
            Тело заметки в формате, который понимает редактор
          example: Test body
        createdAt:
          type: string
          format: date-time
          description: Дата создания заметки.
          example: 2017-01-01T00:00:00Z
        lastUpdate:
          type: string
          format: date-time
          description: Дата последенго изменения заметки.
          example: 2017-01-01T00:00:00Z
        parentDir:
          type: number
          format: int32
          description: ID папки, которой принадлежит заметка
          x-isnullable: false
          example: 1337
        userId:
          type: number
          format: int32
          description: ID пользователя, которому принадлежит заметка
          example: 1337
          x-isnullable: false
    NotePreview:
      type: object
      properties:
        noteId:
          type: number
          format: int32
          description: ID заметки
          example: 1337
          x-isnullable: flase
        name:
          type: string
          description: |
            Заголовок заметки
          example: Test header
        parentDir:
          type: number
          format: int32
          description: ID папки, которой принадлежит заметка
          x-isnullable: false
          example: 1337
    NotesOverview:
      type: object
      properties:
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NotePreview'
